<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <applicationSettings>
        <Aliencube.AlienCache.WebApi.Properties.Settings>
            <setting name="TimeSpan" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>60</value>
            </setting>
            <setting name="UseAbsoluteUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>False</value>
            </setting>
            <setting name="UseQueryStringAsKey" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>False</value>
            </setting>
            <setting name="QueryStringKey" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value />
            </setting>
            <setting name="CacheableStatusCodes" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>200,304</value>
            </setting>
        </Aliencube.AlienCache.WebApi.Properties.Settings>

        <Aliencube.GitHub.Cache.Services.Properties.Settings>
            <setting name="UseProxy" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>False</value>
            </setting>
            <setting name="ProxyUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value />
            </setting>
            <setting name="BypassOnLocal" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>True</value>
            </setting>
            <setting name="AuthenticationType" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>AuthenticationType</value>
            </setting>
            <setting name="UseErrorLogEmail" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>True</value>
            </setting>
            <setting name="ErrorLogEmailFrom" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>service.alert@aliencube.org</value>
            </setting>
            <setting name="ErrorLogEmailTo" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>your.email@aliencube.org</value>
            </setting>
        </Aliencube.GitHub.Cache.Services.Properties.Settings>

        <Aliencube.GitHub.Cache.WebApi.Properties.Settings>
            <setting name="GoogleAnalyticsCode" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>XXXXXXXX-X</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>auto</value>
            </setting>
        </Aliencube.GitHub.Cache.WebApi.Properties.Settings>

        <Aliencube.WebApi.RequireHttps.Properties.Settings>
            <setting name="BypassHttps" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>False</value>
            </setting>
            <setting name="ApplicationServiceProviders" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value />
            </setting>
        </Aliencube.WebApi.RequireHttps.Properties.Settings>
    </applicationSettings>
</configuration>