<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <applicationSettings>
        <Aliencube.GitHub.Cache.Services.Properties.Settings>
            <setting name="AuthenticationType" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>AuthenticationKey</value>
            </setting>
        </Aliencube.GitHub.Cache.Services.Properties.Settings>

        <Aliencube.GitHub.Cache.WebApi.Properties.Settings>
            <setting name="GoogleAnalyticsCode" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>XXXXXXXX-X</value>
            </setting>
        </Aliencube.GitHub.Cache.WebApi.Properties.Settings>
    </applicationSettings>
</configuration>